.mid-logo-footer {
    margin: 0 auto;
    display: table;
    padding-right: 90px;
}

.section-title-bondan{
    padding-bottom: 20px !important;
}

@media (max-width: 767px) {
    .mid-logo-footer {
        margin: 0 auto;
        display: table;
        padding-right: 0;
    }
}